@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <form action="SaveNote" method="post">
       <input type="text" name="noteDetails" id="noteDetails">
       <input type="submit" value="submit">
   </form>
</div>
